/* Small screen modifications for theme as a whole */
@media (max-width: 800px) 
{
	article.card
	{
		border: none;
	}
}

#game
{
}

#timeTheMarketChart
{
	width: 100%;
	height: 400px;
	/* border: solid 1px red; */
}

#buySellButton
{
	display: block;
	margin: auto;
	font-size: 150%;
	margin: 4px auto 8px auto;
	width: 40%;
}


#controlButtons
{
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
}

#scoreBoard
{
	display: flex;
	justify-content: center;
}

#scoreBoard .card
{
	width: 30%;
	margin: 0 5px;
	flex-shrink: 1;
}

#scoreBoard #trades
{
	width: 20%;
}

#scoreBoard .card-body, #scoreBoard .card-header
{
	padding: 4px;
	text-align: center;
}

#scoreBoard .card-body
{
	font-family: Courier New;
	font-size: 120%;
	font-weight: bold;
}


#scoreBoard:first-child
{
	display: flex;
	flex: 0 0 65%;
}


#buyAndHoldScore
{
	border-color: #3366cc;
}

#buyAndHoldScore .card-header
{
	border-color: #3366cc;
	background-color: #c2d1f0
}

#yourInvestmentScore
{
	border-color: #dc3912;
}

#yourInvestmentScore .card-header
{
	border-color: #dc3912;
	background-color: #f5c4b8
}

#timeTheMarketResults
{
	margin: 8px;
}

#timeTheMarketResults .card-body
{
	padding: 10px;
}

#timeTheMarketResults .bg-win
{
	background-color: #c6f1c3
}

#timeTheMarketResults .bg-lose
{
	background-color: #ffe7e9
}

#sma_section
{
	width: 100%;
	text-align: center;
}

#sma_section span
{
	color: #ff9900;
	fong-weight: bold;
}



#news .card-header
{
	font-size: 80%;
}

#news .card-body
{
	font-size: 80%;
}

#news .headline
{
	font-family: Georgia;
	font-weight: bold;
}

#news .source
{
	width: 100%;
	text-align: right;
}



/* Small screen modifications for time the market game */
@media (max-width: 800px) 
{
	#timeTheMarketChart
	{
		height: 300px;	
	}

	#scoreBoard .card
	{
		width: 45%;
	}

	#scoreBoard .card-header
	{
		font-size: 80%;
	}


}


.clear
{
	clear: both;
}

.parent{
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px dashed #6BD9ED;
}

.child{
  width: 300px;
  height: 400px;
  border: 5px dashed #A7E040;
}